.rules {
  display: absolute;
  align-items: center;
  padding: 2rem 0;
  margin-left: 15%;
  width: 65%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

ul {
  list-style-type:upper-alpha;
}

li {
  position: relative; 
  padding: 2px 0;
}

li:hover {
  background: none repeat scroll 0 0 transparent;
  text-decoration: none;
  transition: color 0.9s;
  content: "";
  padding-left: 4px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

li:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
